[Desktop Entry]
Version=1.0
Type=Application
Name=Transaction Decorator
Exec=/usr/bin/TransactionDecorator
Icon=/usr/share/TransactionDecorator/icons/logo.png
Categories=Utility;
