[Desktop Entry]
Version=1.0.1
Type=Application
Name=Transaction Decorator
Exec=/usr/bin/transaction-decorator-entrypoint
Icon=/usr/share/transaction-decorator/icons/logo.png
Categories=Utility;
